body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

#display {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-left: 100x;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#taskList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
ul {
  padding: 0;
  margin: 0;
}


#tasklist li {
  background-color: #eef1f5;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}


#taskList li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 20px ;
  margin-left: 20px;
  cursor: pointer;
}
#feedback{
  margin: 25px;
  font-size: 25px;
}